{
  "ca-list": [
    {
      "ca-prefix": "/mnemosyne",
      "ca-info": "An example NDNCERT CA for Mnemosyne",
      "probe-parameters": [
        {
          "probe-parameter-key": "common-name"
        },
        {
          "probe-parameter-key": "site"
        }
      ],
      "certificate": "Bv0BKQcpCAltbmVtb3N5bmUIA0tFWQgIps+1bszN8ogIAk5BCAn9AAABfK8HmNAU\nCRgBAhkEADbugBVbMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEAowLz/pSEbK4\naRBkCPleadfpdS7FMq7imtt66y/F1i4IevrL+vFbgmX9T/09AxpstAz6jqT6HBwk\nLyE+w6QRwBZLGwEDHBwHGggJbW5lbW9zeW5lCANLRVkICKbPtW7MzfKI/QD9Jv0A\n/g8yMDIxMTAyM1QyMTIxMjT9AP8PMjAyMjEwMjNUMjEyMTIzF0cwRQIgTTkmBfYp\nfH3yi3dG1tDQL6a4CmAmDeRFgCnkiX90uIICIQCT/IxCiEwbD0LbQ5r1Im/6YYhF\n8+kZiTAQxUUFg2daIw==\n"
    }
  ],
  "local-ndncert-anchor": "/usr/local/etc/ndncert/anchor.key"
}