{
  "ledger-prefix": "/ndn/site1",
  "instance-suffix": "/instance1",
  "nack-freshness-period": "10",
  "storage":
  {
    "storage-type": "storage-leveldb",
    "storage-path": ".test-db"
  },
  "record-zones":
  [
    "/ndn/site1", "/ndn/site2"
  ],
  "interlock-policy":
  {
    "policy-type": "policy-descendants",
    "policy-threshold": "3"
  },
  "trust-schema": "trust-schema.conf.sample",
  "sync":
  {
    "interest-signing": "hmac-sha256:z4MZh0VOKfqkLBuIm55CaGB8jt5fgvWJCDC/vbCwZKM=",
    "data-signing": "id:/ndn/site1/instance1"
  }
}