rule
{
  id "revocation"
  for data
  filter
  {
    type name
    regex ^<>*<REVOKE><><><><>$
  }
  checker
  {
    type hierarchical
    sig-type ecdsa-sha256
  }
}

rule
{
  id "record query-response"
  for data
  filter
  {
    type name
    regex ^<>*<RECORD><><><><data><>$
  }
  checker
  {
    type customized
    sig-type ecdsa-sha256
    key-locator
    {
      type name
      name /ndn/site1
      relation is-prefix-of
    }
  }
}


rule
{
  id "dag record"
  for data
  filter
  {
    type name
    regex ^<>*<ndn><site1><LEDGER><SYNC><>$
  }
  checker
  {
    type customized
    sig-type ecdsa-sha256
    key-locator
    {
      type name
      name /ndn/site1
      relation is-prefix-of
    }
  }
}

rule
{
  id "data nack and record nack"
  for data
  filter
  {
    type name
    regex ^<>*<nack><>$
  }
  checker
  {
    type customized
    sig-type ecdsa-sha256
    key-locator
    {
      type name
      name /ndn/site1
      relation is-prefix-of
    }
  }
}

rule
{
  id "obj data"
  for data
  filter
  {
    type name
    regex ^<>*<data><><>$
  }
  checker
  {
    type customized
    sig-type ecdsa-sha256
    key-locator
    {
      type name
      name /ndn/site1
      relation is-prefix-of
    }
  }
}

rule
{
  id "append d2"
  for data
  filter
  {
    type name
    regex ^<>*<notify><>$
  }
  checker
  {
    type customized
    sig-type ecdsa-sha256
    key-locator
    {
      type name
      name /ndn/site1
      relation is-prefix-of
    }
  }
}

rule
{
  id "append d1"
  for data
  filter
  {
    type name
    regex ^<>*<msg><>*$
  }
  checker
  {
    type hierarchical
    sig-type ecdsa-sha256
  }
}

rule
{
  id "cert"
  for data
  filter
  {
    type name
    regex ^<>*<KEY><><><>$
  }
  checker
  {
    type hierarchical
    sig-type ecdsa-sha256
  }
}

trust-anchor
{
  type file
  file-name "trust-anchor.ndncert"
}